body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.nav-desktop__hamburger {
  display: none;
}

.nav-desktop__menu .nav-desktop__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-desktop__menu .nav-desktop__links li {
  list-style-type: none;
  margin-left: 20px;
}

.nav-desktop__menu .nav-desktop__links li a {
  color: black;
  text-decoration: none;
}

.nav-desktop__menu .nav-desktop__links li a:hover {
  color: #fa5757;
}

.nav-desktop__menu .nav-desktop__links .lastlink {
  padding: 7px 20px;
  border: 1.5px solid #fa5757;
  border-radius: 5px;
  background-color: #fa5757;
  color: white;
}

.nav-desktop__menu .nav-desktop__links .lastlink:hover {
  background-color: white;
  color: #fa5757;
}

.nav-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-desktop .nav-desktop__menu {
    display: none;
  }
  .nav-desktop__hamburger {
    display: block;
  }
  .nav-mobile {
    display: none;
    position: absolute;
    background-color: rgba(37, 43, 70, 0.95);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    z-index: 1;
  }
  .nav-mobile__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-mobile__links {
    padding: 0;
  }
  .nav-mobile__links li {
    list-style-type: none;
    padding: 20px 0px;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #6e6e6e;
    width: 67%;
    text-align: center;
    margin: 40px auto;
    font-size: 20px;
  }
  .nav-mobile__links a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  .nav-mobile__links li:last-child {
    border: none;
    margin-top: 16px;
  }
  .nav-mobile__reseauxsociaux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    top: 100px;
  }
  .nav-mobile__reseauxsociaux img {
    padding: 5px;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.description__header {
  width: 30%;
  margin-top: -100px;
  margin-left: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description__header p {
  color: #6e6e6e;
}

.description__img::before {
  content: '';
  background-color: #5368df;
  width: 400px;
  height: 300px;
  display: block;
  position: absolute;
  border-radius: 50% 0% 0% 50%;
  top: 260px;
  right: 0px;
  z-index: -1;
}

.description__img {
  margin-top: 50px;
}

.description__btn .description__btn2 {
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #f0f0f0;
  font-size: 16px;
  -webkit-box-shadow: 1px  2px 5px  grey;
          box-shadow: 1px  2px 5px  grey;
  color: #252b46;
  margin-left: 15px;
}

.description__btn--active {
  border: none;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #5368df;
  font-size: 16px;
  -webkit-box-shadow: 1px  2px 5px  grey;
          box-shadow: 1px  2px 5px  grey;
  color: white;
}

.Features {
  margin: auto;
  width: 35%;
  text-align: center;
}

.Features__title {
  font-size: 2rem;
}

.accordion .accordion__tab {
  display: none;
}

.accordion .accordion__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion .accordion__links .accordian__containerlink {
  -webkit-box-shadow: 0 1px 0  grey;
          box-shadow: 0 1px 0  grey;
  padding: 30px 10px;
}

.accordion .accordion__links .accordian__containerlink--active {
  border-bottom: 3px solid #fa5757;
}

.accordion .accordion__links a {
  text-decoration: none;
  padding: 0 30px;
  color: black;
}

.accordion .accordion__links a:hover {
  color: #fa5757;
}

.accordion__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 100px;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion__contents img {
  height: 40%;
  width: 40%;
  margin-right: 91px;
}

.container .card {
  -webkit-box-shadow: 1px 2px 5px grey;
          box-shadow: 1px 2px 5px grey;
}

.container .card img {
  width: 85px;
}

.container a:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
}
/*# sourceMappingURL=main.css.map */