body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.nav-desktop__hamburger {
  display: none;
}

.nav-desktop__menu .nav-desktop__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-desktop__menu .nav-desktop__links li {
  list-style-type: none;
  margin-left: 20px;
}

.nav-desktop__menu .nav-desktop__links li a {
  color: black;
  text-decoration: none;
}

.nav-desktop__menu .nav-desktop__links li a:hover {
  color: #fa5757;
}

.nav-desktop__menu .nav-desktop__links .lastlink {
  padding: 7px 20px;
  border: 1.5px solid #fa5757;
  border-radius: 5px;
  background-color: #fa5757;
  color: white;
}

.nav-desktop__menu .nav-desktop__links .lastlink:hover {
  background-color: white;
  color: #fa5757;
}

.nav-mobile {
  display: none;
}

@media only screen and (max-width: 600px) {
  .nav-desktop .nav-desktop__menu {
    display: none;
  }
  .nav-desktop__hamburger {
    display: block;
  }
  .nav-mobile {
    display: none;
    position: absolute;
    background-color: rgba(37, 43, 70, 0.95);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    z-index: 1;
  }
  .nav-mobile__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-mobile__links {
    padding: 0;
  }
  .nav-mobile__links li {
    list-style-type: none;
    padding: 20px 0px;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 1px solid #6e6e6e;
    width: 67%;
    text-align: center;
    margin: 40px auto;
    font-size: 20px;
  }
  .nav-mobile__links a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }
  .nav-mobile__links li:last-child {
    border: none;
    margin-top: 16px;
  }
  .nav-mobile__reseauxsociaux {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    top: 100px;
  }
  .nav-mobile__reseauxsociaux img {
    padding: 5px;
  }
}

.hero__content {
  padding: 30px 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.hero__img img {
  position: relative;
  left: 100px;
}

.hero__img::before {
  content: "";
  width: 50vw;
  height: 75%;
  background-color: #5368df;
  position: absolute;
  top: 27%;
  left: 40%;
  border-radius: 0 0 0 200px;
  z-index: -5;
}

.hero__text {
  margin-bottom: 50px;
}

#hero-title {
  font-size: 40px;
  font-weight: 500;
  width: 70%;
  margin-bottom: 25px;
}

#hero-paragraph {
  line-height: 25px;
  width: 75%;
  color: #9194a1;
  margin-bottom: 25px;
}

.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__button {
  padding: 13px 15px;
  margin-right: 20px;
  font-size: 14px;
  border-radius: 5px;
  color: #5b5a68;
  background-color: #f7f7f7;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.hero__button:hover {
  background-color: #5368df;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.hero__button:active {
  background-color: #f7f7f7;
  border: 1.4px solid #5368df;
  color: #5368df;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 12px 14px;
}

@media (max-width: 767.98px) {
  .hero__content {
    padding: 30px 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__img img {
    width: 90vw;
    position: relative;
    left: 0;
  }
  #hero-title {
    margin-top: 30px;
    font-size: 30px;
    font-weight: 500;
    width: 100%;
    text-align: center;
  }
  #hero-paragraph {
    line-height: 25px;
    width: 95%;
    text-align: center;
  }
  .hero__button {
    padding: 0px;
    min-width: 130px;
    min-height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__button:hover, .hero__button:active {
    background-color: #f7f7f7;
    border: 1.4px solid #5368df;
    color: #5368df;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .hero__img::before {
    content: "";
    width: 65.5%;
    height: 75%;
    background-color: #5368df;
    position: absolute;
    top: 27%;
    left: 40%;
    border-radius: 0 0 0 100px;
    z-index: -5;
    overflow-x: hidden;
  }
}

.Features {
  margin: auto;
  width: 35%;
  text-align: center;
}

.Features__title {
  font-size: 2rem;
}

.accordion .accordion__tab {
  display: none;
}

.accordion .accordion__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.accordion .accordion__links .accordian__containerlink {
  -webkit-box-shadow: 0 1px 0  grey;
          box-shadow: 0 1px 0  grey;
  padding: 30px 10px;
}

.accordion .accordion__links .tab-active {
  border-bottom: 3px solid #fa5757;
}

.accordion .accordion__links a {
  text-decoration: none;
  padding: 0 30px;
  color: black;
}

.accordion .accordion__links a:hover {
  color: #fa5757;
}

.accordion__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 100px;
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accordion__contents img {
  height: 40%;
  width: 40%;
  margin-right: 91px;
}

.download {
  text-align: center;
  margin-top: 40px;
}

.container .card {
  -webkit-box-shadow: 1px 2px 5px grey;
          box-shadow: 1px 2px 5px grey;
}

.container .card img {
  width: 85px;
}

.container a:hover {
  background-color: white;
  border: 1px solid blue;
  color: blue;
}

.frequently {
  text-align: center;
  margin-top: 40px;
}

.section5 {
  width: 50%;
  margin: 10px auto;
}

.card-header a {
  color: black;
}

.card-header a:hover {
  color: brown;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
}

body .footer {
  margin-top: 20px;
  background-color: #252b46;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .footer__socialmedia {
  color: white;
  padding: 0 20px;
  font-size: 18px;
}

body .footer__links a {
  color: white;
  padding: 0px 20px;
}

@media screen and (max-width: 411px) {
  body .footer {
    display: block;
    height: 100px;
    text-align: center;
    font-size: 10px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer__socialmedia {
    font-size: 12px;
  }
}
/*# sourceMappingURL=main.css.map */