@import 'variables';

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

.nav-desktop {


    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;

    &__hamburger {

        display: none;
    }

     
    &__menu  {
     
    .nav-desktop__links {
          display: flex;

        li {
           list-style-type: none;
           margin-left: 20px;

        a {
            color : color(secondary) ;
            text-decoration: none;

            &:hover {
            color : color(primary) ;

            } // hover de a 
        } //a

     
        } // li

        .lastlink {
            padding: 7px 20px;
            border: 1.5px solid color(primary);
            border-radius: 5px;
            background-color: color(primary);
            color: color(tertiary);
        }

        .lastlink:hover {

            background-color: color(tertiary);
            color:color(primary);

        }
      
       


        } //nav-desktop__links


        
    } // nav-desktop__menu

    
  

 } //.nav-desktop



 .nav-mobile {
     display: none;
 }


 @media only screen and (max-width: 600px) {


    .nav-desktop {

        
      .nav-desktop__menu {
            display: none;


        } //nav-desktop__menu

      &__hamburger {
      display: block;

      }

    } // nav.desktop


    .nav-mobile {

       display: none;
       position: absolute;
       background-color: hsla(229, 31%, 21%, 0.95);
       top: 0;
       left: 0;
       width: 100vw;
       height: 100vh;
       text-align: center;
       padding-top: 50px;
      
       

       &__header {
           display: flex;
           justify-content: space-around;
         

       } // header

       &__links {
         
           padding: 0;
        
        li {
            list-style-type: none;
            padding: 20px 0px;
            text-transform: uppercase;
            font-size: 18px;
            border-bottom: 1px solid color(quaternary);
            width: 67%;
            text-align: center;
            margin: 40px auto;
            font-size: 20px;
           
        }
        

        a {
            text-decoration: none;
            color:color(tertiary);
            text-transform: uppercase;
            
        }
        li:last-child{
         border: none;
        margin-top: 16px;
                   }
       } //links

       &__reseauxsociaux {
         display: flex;
         justify-content: center;
         position: relative;
         top: 100px;
         
         
         img {
              padding: 5px;
                      }

       }



    } //nav-mobile
       


 } //media
    




