@import 'variables';



.frequently {

text-align: center;
margin-top: 40px;

}



.section5 {
    
    width: 50%;
    margin: 10px auto;

    
}

.card-header {

    


    a {


        color: black;

        &:hover {

            color: brown;
        }
        
    }



}
 



   


.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    background-color: white;
    
}
