@import 'variables';


.accordion {


.accordion__tab {

    display: none;
}

.accordion__links {


display: flex;
justify-content: center;

.accordian__containerlink {

    box-shadow: 0 1px 0  grey;
    padding: 0 10px ;
 


  &--active {

   

        border-bottom: 3px solid hsl(0, 94%, 66%);
   
    
  }  
}


 


a {


text-decoration: none;
padding: 0 30px;
color:black;


&:hover {

color :hsl(0, 94%, 66%);

    }

} // a 

}//accordion__links 

&__contents {

  display: flex;
 padding: 0px 100px;
 margin-top: 40px;
 align-items: center;
 
  
img {

height:40%;
width:40%;
margin-right: 91px;

     } 

    }

  
}