@import 'variables';

.description {

 display: flex;
 justify-content: space-around;
 align-items: center;
 margin: auto;
 
&__header {

 width:30%;
 margin-top: -100px;
 margin-left: 100px;
 justify-content: center;
      
 p {
    
color : color(quaternary);
        
}
      
} // header

&__img::before {
   content: '';
   background-color: hsl(231, 69%, 60%);
   width: 400px;
   height: 300px;
   display: block;
   position: absolute;
   border-radius: 50% 0% 0% 50%;
   top:260px;
   right:0px;
   z-index: -1;
 
}

&__img{

// background-color: hsl(231, 69%, 60%);   
// background-position: center;
// border-radius: 50% 0% 0% 50%;
margin-top: 50px;

}


     
&__btn {

   .description__btn2{

      border:none;
      padding: 8px 10px;
      border-radius: 5px  ;
      background-color:hsl(0, 0%, 94%) ;
      font-size: 16px;
      box-shadow: 1px  2px 5px  grey;    
      color: hsl(229, 31%, 21%) ;
     margin-left: 15px;

     
      }
      // hsl(0, 0%, 94%)


&--active{
 
border:none;
padding: 8px 10px;
border-radius: 5px  ;
background-color:hsl(231, 69%, 60%) ;
font-size: 16px;
box-shadow: 1px  2px 5px  grey;   
color:white;

}

 


} //btn


















      // description__titlepara






} //description


@media only screen and (max-width:1068) {

.description {
   
   

}  //description  


  







} //media

